.head a {
    color: rgb(88, 101, 221);
    font-size: 30px;
}

a {
    text-decoration: none;
    color: rgb(117, 131, 255);
}

a:hover {
    text-decoration: underline;
}

body, button, input
{
    color: rgb(117, 131, 255);
    background-color: rgb(248, 248, 210);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.head_toc_item{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}
.toc_item{
    margin:5px;
}

.progress_bar{
    grid-row:1;
    grid-column-start: 1;
    grid-column-end: 3;

}
.pdf_display{
    grid-row: 1;
    grid-column: 2;
    width:  75vw;
    height: 100vh;
}
.table_of_contents{
    grid-row:2;
    grid-column: 1;
    height:115vh;
    overflow-y: scroll;
    width: 20vw; 
    border-right: solid 4px rgb(117, 131, 255);
}

ul{
    padding-inline-start: 0px;
}

.progress_bar{
    width:100%;
    background-color: blue;
}

#progress{
    width: 1%;
    height: 30px;
    background-color: green;
}

.book_detail{
    display: grid;
    grid-template-rows: 20vh;
    grid-template-columns: 20vw 80vw;
}

.upload_book, .upload_button {
    border: solid 4px rgb(117, 129, 236) ;
    background-color:rgb(255, 255, 255) ;
    padding:5px;
    border-radius: 5px;
}
.upload_book:hover, .upload_button:hover{
    background-color:rgb(253, 213, 102) ;
}

