@counter-style book {
    system: cyclic;
    symbols: "\1F4D6";
    suffix: " ";
}

h1 {
    display: flex;
}

h1, .book_list {
    
    align-content: stretch;
    padding: 2%;
}

h1 {
    justify-content: center;
}

.book_list {
    list-style-type: book;
    margin-left: 10%;
}