{% extends 'base.html' %}
{% load static %}

{% block content %}
<form>
<div class="book_detail">
<div class="progress_bar">
    <div id="progress"></div>
</div>

<div class="grid_item table_of_contents">
    <ul>
    {% for item in toc %}
        {% if item.0 != 1 %}
        <ul>
            {% if item.0 != 2 %}
                <ul><li><input type="checkbox">{{item.1}}</input></li></ul> <!--If an item is not 1 and not 2 add 2 indentations-->
            {% else %}
                <li><input type="checkbox">{{item.1}}</input></li> <!--Item is not one so it's 2 -->
            {% endif %}
        </ul>
        
        {% else %}
            <li><input type="checkbox" onclick="UpdateProgress()">{{item.1}}</input></li>
        {% endif %}
    {% endfor%}
    </ul>
</div>
</div>
</form>

<div>
    <embed src="{% get_media_prefix %}{{book_file}}" type="application/pdf"    
    frameBorder="0"
    scrolling="auto"
    height="1000vw"
    width="80%"
    >
</div>

{% endblock content %}